
        .mdui-drawer {
            /*  border-radius: 10px;  设置圆角的大小 */
            border-top-right-radius: 25px;
            /* 设置右上角圆角 */
            border-bottom-right-radius: 25px;
            /* 设置右下角圆角 */
        }

        .shou {
            border-radius: 25px;
            设置圆角的大小 */
        }
