.cardd {
            background-image: url('https://root-a.top/Random?');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            opacity: 0.92;
        }

        #666 {
            position: relative;
            z-index: 1;
        }